body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

.top-bar {
  background-color: #33691e;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.back-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.top-bar h2 {
  margin: 0;
  font-size: 1.5rem;
}

.section {
  padding: 1rem;
  background-color: white;
  margin: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.section h3 {
  margin-top: 0;
}

#display-address {
  color: #33691e;
  font-weight: bold;
  cursor: pointer;
}

#delete-address-btn {
  margin-top: 0.5rem;
  background: #f44336;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

#product-summary > div {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  overflow: hidden;
  
}

.total-section p, .total-section h3 {
  margin: 0.5rem 0;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-top: 1px solid #ddd;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

#place-order-btn {
  background-color: #ffd82a;
  color: #333;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

#total-text {
  font-size: 1.2rem;
  font-weight: bold;
}



.product-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  margin: 16px 0;
  overflow: hidden;
  background-color: white;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-details {
  padding: 12px;
  font-size: 16px;
  color: #333;
}


.checkout-item {
  display: flex;
  margin-bottom: 10px;
}

.item-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkout-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.item-info h4 {
  margin: 0;
  font-size: 16px;
}


#discount-amount {
  color: red;
  font-weight: bold;
}