
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f9f9f9;
  padding: 16px;
  color: #333;
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.back-btn {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.section {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.address-box {
  padding: 12px;
  border: 1px dashed #aaa;
  border-radius: 8px;
  color: #555;
  text-align: center;
  cursor: pointer;
}

.add-address-btn  {
color: darkgreen;
  text-decoration: none;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 10px;
}


.payment-method {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.payment-method i {
  margin-right: 10px;
  color: black;
  font-size: 18px;
}

.payment-method:hover {
  background: #f0f0f0;
}
.card  {
  color:darkgreen;
   text-decoration:none;
}

.product-item {
  display: flex;
  gap: 12px;
  align-items: center;
}

.product-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.product-info p {
  font-size: 14px;
  margin: 2px 0;
}

.shipping-info {
  font-size: 13px;
  color: #777;
  margin-top: 4px;
}

.total-box {
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin-bottom: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 15px;
}

.total {
  font-weight: bold;
  font-size: 16px;
}

.place-order {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  padding: 12px 16px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-amount {
  font-size: 18px;
  font-weight: bold;
  color: #33691e;
}

.place-order button {
  background-color: #ffd82a;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}


.delete-btn {
  background-color: #d32f2f;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #b71c1c;
}

#discount-amount {
  color: red;
  font-weight: bold;
}