body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

/* Top Bar */
.top-bar {
  display:flex;
  align-items: center;
  justify-content:space-between;
  background-color: #33691E;
  color: white;
  padding: 10px 16px;
}


.back-button {
  background: none;
  border: none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}

.logo {
  height: 80px;
}

.title {
  font-size: 1rem;
  font-weight: bold;
}

/* Account Info */
.account-container {
  padding: 20px;
  text-align: center;
}

.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #ffd82A;
  object-fit: cover;
}

.email {
  color: gray;
  font-size: 0.9rem;
}

/* Settings */
.settings {
  text-align: left;
  margin-top: 20px;
}

.settings h3 {
  color: #33691E;
  margin-bottom: 10px;
}

.settings ul {
  list-style: none;
  padding: 0;
}

.settings li {
  margin-bottom: 12px;
}

.settings button {
  background-color: #c62828;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/* Bottom Navigation */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #33691E;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.bottom-nav a.active {
  background: #ffd82A;
  color: #33691E;
  padding: 6px 12px;
  border-radius: 8px;
}

